/* GLOBAL */

html
{
			overflow-x:hidden;
}



body
{
	background-color: black;
	color: white;
	padding-top: 1%;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
}



hr
{
	color: red;
	border-color: red;
	margin-top: 1%;
	margin-bottom: 1%;
}



a
{
	color: inherit;
	text-decoration: inherit;
}
@media (max-width: 769px)
{
    a
	{
        font-size: 0.8em;
    }
}

a[href]:hover
{
	cursor: pointer;
}



ul
{
	padding: 0;
	margin: 0;
}



h1
{
	text-align: center;
}
@media (max-width: 769px)
{
    h1
	{
        font-size: 1.5em;
    }
}
@media (max-width: 481px)
{
    h1
	{
        font-size: 1em;
    }
}



h2
{
	text-align: center;
}
@media (max-width: 769px)
{
    h2
	{
        font-size: 1.5em;
    }
}
@media (max-width: 481px)
{
    h2
	{
        font-size: 1em;
    }
}



p
{
	text-align: justify;
}
@media (max-width: 769px)
{
    p
	{
        font-size: 0.9em;
    }
}
@media (max-width: 481px)
{
    p
	{
        font-size: 0.8em;
    }
}



section > ul > li
{
	padding-top: 5%;
	padding-bottom: 5%;
}


/* HEADER */

header > div
{
	display: flex;
	justify-content: space-between;
}



header > div > div
{
	flex-grow: 1;	
	display:flex;
	align-items:center;
}



header img
{
	width: 80px;
	height: 80px;
	border-radius: 100%;
}
@media (max-width: 769px)
{
	header img
	{
		width: 60px;
		height: 60px;
	}
}
@media (max-width: 481px)
{
	header img
	{
		width: 40px;
		height: 40px;
	}
}


header h1
{
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0;
}



nav > ul
{
	display: flex;
	height: 100%;
}



nav > ul > li
{
	width: 100px;
}
@media (max-width: 769px)
{
    nav > ul > li
	{
        width: 80px;
    }
}



header a
{
	display: flex;
    justify-content: center;
	align-items:center;	
}



header li a:hover
{
	background-color: #1a001a;
}



/* HAMBURGER MENU */

@media (min-width: 481px)
{
	nav > div
	{
		visibility: hidden;
		width: 0;
	}
}
@media (max-width: 480px)
{
	nav > ul
	{
		visibility: hidden;
		width: 0;
	}
}



nav
{
	display:flex;
	align-items:center;
}



nav div
{
  position: relative;
}



nav input
{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
}



nav span
{
	display: block;
	width: 33px;
	height: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
	background: white;
	border-radius: 3px;
	z-index: 1;
}



nav > div ul
{
	position: fixed;
	width: 150px;
	top: 100px;
	right: -210px;
	background: #080020;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	border: 1px solid red;
	border-radius: 3%;
	padding-right: 10px;
}



nav > div  li
{
  font-size: 22px;
  height: 2em;
}



nav a
{
	height: 100%;
}



nav input:checked ~ ul
{
	transform: translate(-200px, 0);
}



/* FOOTER */

footer p
{
	width: 100%;
	text-align: center;
}


/* HOME */

ul ul
{
	display: flex;
	justify-content: center;
}



ul > li
{
	display: block;
	margin: 0;
}



section.home > ul > li > a
{
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}



figure img
{
	width: 100px;
}
@media (max-width: 769px)
{
	figure img
	{
		width: 80px;
	}
}
@media (max-width: 481px)
{
	figure img
	{
		width: 60px;
	}	
}



section li > ul > li > a
{
	display: flex;
    justify-content: center;
	align-items:center;	
	width: 100%;
	height: 100%;
}



section a > img
{
	width: 40px;
}



figcaption
{
	text-align: center;
}




/* PROJECTS */

body > ul > li
{
	margin-top: 10%;
	margin-bottom: 10%;
	display: block;
}

a > div
{
	margin-top: 3%;
	display: flex;
}

a > div > img
{
	width: 40%;
	height: 20vw;
	margin-right: 5%;
	border: 1px solid #ff0000;
}

li p
{
	margin-top: 0;
}















